@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <a href="javascript:void(0);" id="changeBtn">发送ajax请求</a>
    </div>

    <div id="hotelRoomBox"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#changeBtn').click(function () {
                $.ajax({
                    type: 'Post',
                    url: 'Home/Ajax/1?id=2',
                    data: {
                        id: 3,
                        other:'other form data'
                    },
                    success: function (result) {
                        $("#hotelRoomBox").html(result);
                    },
                    error: function () {
                        alert('提交异常');
                    }
                });
            });
        });
    </script>
</body>
</html>
